
@font-face {
  font-family: 'SanchezLight';
  src: url('SanchezLight.eot?#iefix') format('embedded-opentype'),  url('SanchezLight.otf')  format('opentype'),
	     url('SanchezLight.woff') format('woff'), url('SanchezLight.ttf')  format('truetype'), url('SanchezLight.svg#SanchezLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
