@media (min-width: 1340px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
    }
    header.navbar-sticky-on .navbar-brand .navbar-brand-item {
        height: 34px;
    }
}
@media (min-width: 1200px) {
    header.navbar-sticky-on {
        padding: 15px 0;
    }
    .tab-pane .col-xl-2 {
        width: calc(100%/5);
    }
    #web-developement-skills-tabs.tab-pane .col-xl-2 {
        width: calc(100%/6);
    }
}
@media (min-width: 992px) {
    /* section.section {
        padding-top:2.8rem !important ;
    } */
    section, .pt-lg-6 {
        padding-top: 6rem !important;
    }
}
@media screen and (max-width: 1199.98px) {
    .service-tabs li button br, .service-tabs li button img {
        display: none;
    }
    .service-tabs li {
        width: auto;
        text-align: center;
        margin-bottom: 10px;
        padding: 0 15px;
    }
    .service-tabs li button {
        color: #fff;
        margin-bottom: 0 !important;
    }
    #services .py-md-6 {
        padding: 2rem 0 2rem!important;
        display: block;
    }
    #services .tabs-wrap .py-md-6 {
        padding: 0 !important;
    }
    .tab-output-wrap {
        position: relative;
    }
    .tab-box h2 {
        font-weight: 400;
    }
}
@media screen and (max-width: 991px) {
    .top-section {
        min-height: auto;
    }
    .tab-output {
        height: auto;
        padding: 4rem 0 !important;
    }
    #services {
        margin-top: 25px !important;
    }
    .service-tabs {
        padding-top: 0;
    }
    .service-tabs li {
        margin-bottom: 1rem;
    }
    .tab-content {
        padding: 0 10px;
    }
}
@media screen and (max-width: 767.98px) {
    .process .number {
        display: none;
    }
    .show-progress {
        width: 50%;
    }
    .process {
        margin-top: 20px;
    }
    .process img {
    max-width: 55px;
    max-height: 41px;
    }
    .process h6 {
        font-size: 10px;
    }
    #portfolio h2 {
        text-align: center;
    }
    .center .slick-arrow.slick-next {
        right: 34%;
      }
    .center .slick-arrow.slick-prev {
    left: 34%;
    }
    .team .slick-arrow.slick-next {
        right: 34%;
      }
    .team .slick-arrow.slick-prev {
        left: 34%;
    }
}