@media (min-width: 1200px) {
    header.navbar-sticky-on {
        padding: 15px 0;
    }
    .tab-pane .col-xl-2 {
        width: calc(100%/5);
    }
    #project-pills-tabs-1.tab-pane .col-xl-2 {
        width: calc(100%/6);
    }
}
@media (min-width: 992px) {
    section.section {
        padding-top:2.8rem !important ;
    }
}

@media screen and (max-width: 991px) {
    .top-section {
        min-height: auto;
    }
    .tab-output {
        height: auto;
        padding: 4rem 0 !important;
    }
    #services {
        margin-top: 25px !important;
    }
    .service-tabs {
        padding-top: 30px;
    }
    .service-tabs li {
        margin-bottom: 1rem;
    }

}
@media screen and (max-width: 767.98px) {
    .process .number {
        display: none;
    }
    .show-progress {
        width: 50%;
    }
    .process {
        margin-top: 20px;
    }
    .process img {
    max-width: 55px;
    max-height: 41px;
    }
    .process h6 {
        font-size: 10px;
    }
    #portfolio h2 {
        text-align: center;
    }
    .center .slick-arrow.slick-next {
        right: 34%;
      }
    .center .slick-arrow.slick-prev {
    left: 34%;
    }
    .team .slick-arrow.slick-next {
        right: 34%;
      }
    .team .slick-arrow.slick-prev {
        left: 34%;
    }
}