@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap'); 
body {
    font-family: 'Montserrat', sans-serif;
    @include fluid-type(13px, 15px);
    background-color: #fbfbfb;
    color: $gray-800;
}
h1, h2, h3, h4, h5, h6 {
 color: $theme;
}
a, a:hover{
    transition: color .3s ease-in-out;
    text-decoration: none;
    font-weight: 600;
    color: $theme;
}
.description {
    color: $gray-600;
    @include fluid-type(13px, 14px);
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #09e97f;
    img {
        width: 100%;
    }
}
.navbar-brand {
    img {
        max-width: 140px;
    }
}
.container {
    @include media-breakpoint-up (lg) {
        max-width: calc(1230px - 30px);
    }
}
.FlexEmbed {
    display: block;
    overflow: hidden;
    position: relative;
}

.FlexEmbed:before {
    content: "";
    display: block;
    width: 100%;
}

.FlexEmbed--3by1:before {
    padding-bottom: 33.33333%;
}
.CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 1em;
    max-height: 480px;
    max-width: 100%;
}
section {
    &.inner-section-style {
        top: -14px;
    }
}
.inner-section-style {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    display: block;
}
.inner-section-shadow {
    box-shadow: 3px 6px 20px rgba(0,0,0,.06);
}
.avatar-outer {
    position: absolute;
    top: -99px;
    left: 0;
    width: 100%;
    display: flex;
    .avatar-profile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #fff;
        left: 0;
        box-shadow: 0 8px 15px rgba(0,0,0,.075);
    }
}
.user-info {
    font-weight: 500;
    h3 {
        font-weight: 800;
    }
}

h4 {
    position: relative;
    &:after {
        position: absolute;
        content: '';
        background-image: url('../../img/border.svg');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 100px;
        left: 0;
        bottom: -27px;
        width: 72px;
        height: 20px;
        overflow: hidden;
    }  
}

.logo-social {
        height: 105px;
        background-color: rgba(9, 233, 127, 0.1);
        /* padding-bottom: 45px; */
        margin-bottom: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 143px;
            padding-top: 1rem;
        }
    svg {
        top: 100%;
        position: absolute;
        left: 0;
        width: 100%;
    }
}
.social-profile-ul {
    padding: 1rem 1.2rem;
    list-style: none;
    text-align: center;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 12px;
        .url {
            padding: 10px 18px 10px 30px;
            font-size: 13px;
            background: rgba(9, 233, 127, 0.2);
            border-radius: 25px;
            display: inline-block;
            font-weight: 600;
            position: relative;
            word-break: break-all;
            i {
                position: absolute;
                left: 12px;
                top: 14px;
                font-size: 11px;
            }
        }
        p, label {
            font-size: 13px;
            margin-bottom: 0;
        }
        label {
            font-weight: 700;
            color: $gray-800;
            @extend .mr-3;
        }
        p {
            font-weight: 600;
            color: $gray-600;
        }
    }
}
.top-info {
    li {
        margin-bottom: 10px;
        align-items: center;
        display: flex;
        &:last-child {
            margin-bottom: 0;
        }
        a, label {
            font-size: 13px;
            margin-bottom: 0;
        }
        label {
            font-weight: 700;
            color: $gray-800;
            min-width: 100px;
        }
        p {
            font-weight: 600;
            color: $gray-600;
        }
    }
}
.social-icons {
    a {
        height: 35px;
        width: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $theme;
        color: #fff;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 8px;
        text-decoration: none;
        &:hover, &:focus, &:focus:hover {
            background-color: #1e1c46;
        }
    }
}
.website-grid {
    .inner-section {
        height: 100%;
    }
    h5 {
        position: relative;
        display: inline-block;
        width: auto;
    }
    h5 + div {
        margin: 6px 0 10px 0;
        span {
            width: 53px;
            height: 4px;
            display: inline-block;
            overflow: hidden;
            background-color: rgba(9, 233, 127, 0.2);;
        }
    }
    p {
        @extend .mb-0;
    }
}
.list-style {
    list-style-type: none;
}
.popular-links-list {
    h6 {
        line-height: 1.8;
    }
    p {
        display: flex;
        align-items: center;
        font-weight: 600;
        margin-bottom: 0;
        img {
            max-width: 28px;
            width: 24px;
            margin-right: 10px;
        }
    }
    li {
        display: flex;
        justify-content: center;
    }
}
.footer-section {
    background-color: $theme;
    color: $white;
    .footer-logo {
        max-width: 120px;
    }
}
.title-ad {
    h4 {
        display: flex;
        align-items: center;
        &:after {
            display: none;
        }
    }
    .ad-label {
        background: #09e97f;
        font-size: 13px;
        padding: 6px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-right: 5px;
    }
}
.row-adv {
    .col {
        min-width: 140px;
        max-width: 150px;
        padding: 0 .5rem;
        width: calc(100%/7);
    }
    .ad-outer {
        height: 100%;
        background-color: #fff;
        padding: 4px;
        border: 1px solid rgba(0,0,0,.05);
        display: block;
    }
    .ad-content {
        padding: 0 8px;
        p {
            font-size: 12px;
            margin-top: 11px;
            font-weight: 500;
            margin-bottom: 0;
            color: $gray-800;
        }
        span {
            font-size: 10px;
            color: $gray-500;
            font-weight: 400;
        }
    }
}
.bg-section {
    .container {
        background-image: url('../../img/bg.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 380px;
        display: block;
        width: 100%;
    }
}